/* line 28, C:/work/www/booking-search/sass/property-search-style.sass */
body {
  margin: 0;
  padding: 0;
  min-height: 1000px; }

/* line 33, C:/work/www/booking-search/sass/property-search-style.sass */
.banner-simulator {
  width: 100%;
  height: 560px;
  background-color: #acc949;
  margin-bottom: -65px; }

/* line 40, C:/work/www/booking-search/sass/property-search-style.sass */
.search-wrapper {
  font-family: 'Open Sans';
  width: 749px;
  margin: 0 auto; }
  /* line 44, C:/work/www/booking-search/sass/property-search-style.sass */
  .search-wrapper .form-background {
    background-color: rgba(59, 61, 63, 0.95);
    border: 1px solid black;
    padding: 10px; }
    /* line 48, C:/work/www/booking-search/sass/property-search-style.sass */
    .search-wrapper .form-background .i-dont-know-chekbox {
      width: 100%;
      display: inline-block;
      color: white;
      margin-top: 10px;
      font-size: 12px; }
      /* line 54, C:/work/www/booking-search/sass/property-search-style.sass */
      .search-wrapper .form-background .i-dont-know-chekbox input[type="checkbox"] {
        float: left;
        margin-right: 5px; }
    /* line 57, C:/work/www/booking-search/sass/property-search-style.sass */
    .search-wrapper .form-background .options-wrapper {
      width: 100%; }
      /* line 59, C:/work/www/booking-search/sass/property-search-style.sass */
      .search-wrapper .form-background .options-wrapper .inline-field {
        cursor: pointer;
        font-size: 14px; }
      /* line 63, C:/work/www/booking-search/sass/property-search-style.sass */
      .search-wrapper .form-background .options-wrapper .search-button button {
        background-color: #E05E00;
        border: 1px solid black;
        width: 82px;
        box-sizing: border-box;
        height: 51px;
        font-weight: 600;
        color: white;
        font-family: 'Open Sans';
        font-size: 14px; }
    /* line 73, C:/work/www/booking-search/sass/property-search-style.sass */
    .search-wrapper .form-background .inline-field {
      width: 205px;
      display: table-cell;
      vertical-align: middle;
      float: left;
      margin-right: 10px;
      box-shadow: inset 1px 2px 6.5px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 1px 2px 6.5px rgba(0, 0, 0, 0.2);
      -o-box-shadow: inset 1px 2px 6.5px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: inset 1px 2px 6.5px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: inset 1px 2px 6.5px rgba(0, 0, 0, 0.2);
      border: 1px solid black;
      height: 51px;
      padding: 10px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background-color: white;
      font-family: 'Open Sans'; }
      /* line 80, C:/work/www/booking-search/sass/property-search-style.sass */
      .search-wrapper .form-background .inline-field.date-picker {
        position: relative; }
        /* line 82, C:/work/www/booking-search/sass/property-search-style.sass */
        .search-wrapper .form-background .inline-field.date-picker:after {
          content: "\f073";
          font-family: FontAwesome;
          font-weight: normal;
          font-style: normal;
          display: inline-block;
          position: absolute;
          right: 14px;
          top: 17px;
          opacity: 1;
          font-size: 16px; }
        /* line 93, C:/work/www/booking-search/sass/property-search-style.sass */
        .search-wrapper .form-background .inline-field.date-picker .chosen-date {
          display: none; }
        /* line 95, C:/work/www/booking-search/sass/property-search-style.sass */
        .search-wrapper .form-background .inline-field.date-picker .title {
          margin-top: 5px;
          display: block; }
        /* line 99, C:/work/www/booking-search/sass/property-search-style.sass */
        .search-wrapper .form-background .inline-field.date-picker.chosen .chosen-date, .search-wrapper .form-background .inline-field.date-picker.chosen .title {
          display: block;
          width: 100%;
          margin: 0;
          font-size: 12px; }
        /* line 104, C:/work/www/booking-search/sass/property-search-style.sass */
        .search-wrapper .form-background .inline-field.date-picker.chosen .title {
          margin: -2px 0;
          opacity: 0.5; }
        /* line 107, C:/work/www/booking-search/sass/property-search-style.sass */
        .search-wrapper .form-background .inline-field.date-picker.chosen .chosen-date {
          font-weight: 600; }
    /* line 110, C:/work/www/booking-search/sass/property-search-style.sass */
    .search-wrapper .form-background .location-wrapper {
      margin-bottom: 10px; }
      /* line 112, C:/work/www/booking-search/sass/property-search-style.sass */
      .search-wrapper .form-background .location-wrapper input.location-field {
        width: 100%;
        font-size: 16px;
        box-shadow: inset 1px 2px 6.5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 1px 2px 6.5px rgba(0, 0, 0, 0.2);
        -o-box-shadow: inset 1px 2px 6.5px rgba(0, 0, 0, 0.2);
        -ms-box-shadow: inset 1px 2px 6.5px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 1px 2px 6.5px rgba(0, 0, 0, 0.2);
        border: 1px solid black;
        height: 51px;
        padding: 10px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background-color: white;
        font-family: 'Open Sans'; }

/* line 133, C:/work/www/booking-search/sass/property-search-style.sass */
.checkout-calendar-picker {
  display: block;
  position: relative;
  width: 519px;
  box-sizing: border-box;
  border: 1px solid #bababa;
  height: 282px;
  font-family: 'Open Sans'; }
  /* line 141, C:/work/www/booking-search/sass/property-search-style.sass */
  .checkout-calendar-picker .header-title h1 {
    height: 45px;
    font-size: 15px;
    background-color: #f2f3f4;
    text-align: center;
    padding: 12px 14px;
    margin: 0 0 7px 0;
    box-sizing: border-box;
    font-weight: bold; }
  /* line 150, C:/work/www/booking-search/sass/property-search-style.sass */
  .checkout-calendar-picker ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  /* line 156, C:/work/www/booking-search/sass/property-search-style.sass */
  .checkout-calendar-picker .picker-year ul li.month {
    display: block;
    background-color: white;
    float: left;
    width: 258.5px;
    box-sizing: border-box;
    padding: 0 5px 5px; }
    /* line 163, C:/work/www/booking-search/sass/property-search-style.sass */
    .checkout-calendar-picker .picker-year ul li.month .header {
      margin: 0;
      padding: 0;
      text-align: center; }
      /* line 167, C:/work/www/booking-search/sass/property-search-style.sass */
      .checkout-calendar-picker .picker-year ul li.month .header h1 {
        margin: 0;
        font-size: 15px;
        color: #737373;
        padding: 6px 4px 12px; }
    /* line 173, C:/work/www/booking-search/sass/property-search-style.sass */
    .checkout-calendar-picker .picker-year ul li.month ul li.week-days {
      display: block;
      width: 100%; }
      /* line 177, C:/work/www/booking-search/sass/property-search-style.sass */
      .checkout-calendar-picker .picker-year ul li.month ul li.week-days ul li {
        display: block;
        width: 14.28571%;
        float: left;
        text-align: center;
        font-size: 13px;
        color: #aaa;
        font-weight: 600;
        height: 26px; }
    /* line 187, C:/work/www/booking-search/sass/property-search-style.sass */
    .checkout-calendar-picker .picker-year ul li.month ul li.days-shift-1 {
      display: block;
      width: 14.28571%;
      text-align: center;
      float: left;
      font-size: 13px;
      height: 26px;
      padding-top: 2px;
      box-sizing: border-box;
      color: #4B96FD; }
    /* line 189, C:/work/www/booking-search/sass/property-search-style.sass */
    .checkout-calendar-picker .picker-year ul li.month ul li.days-shift-2 {
      display: block;
      width: 28.57143%;
      text-align: center;
      float: left;
      font-size: 13px;
      height: 26px;
      padding-top: 2px;
      box-sizing: border-box;
      color: #4B96FD; }
    /* line 191, C:/work/www/booking-search/sass/property-search-style.sass */
    .checkout-calendar-picker .picker-year ul li.month ul li.days-shift-3 {
      display: block;
      width: 42.85714%;
      text-align: center;
      float: left;
      font-size: 13px;
      height: 26px;
      padding-top: 2px;
      box-sizing: border-box;
      color: #4B96FD; }
    /* line 193, C:/work/www/booking-search/sass/property-search-style.sass */
    .checkout-calendar-picker .picker-year ul li.month ul li.days-shift-4 {
      display: block;
      width: 57.14286%;
      text-align: center;
      float: left;
      font-size: 13px;
      height: 26px;
      padding-top: 2px;
      box-sizing: border-box;
      color: #4B96FD; }
    /* line 195, C:/work/www/booking-search/sass/property-search-style.sass */
    .checkout-calendar-picker .picker-year ul li.month ul li.days-shift-5 {
      display: block;
      width: 71.42857%;
      text-align: center;
      float: left;
      font-size: 13px;
      height: 26px;
      padding-top: 2px;
      box-sizing: border-box;
      color: #4B96FD; }
    /* line 197, C:/work/www/booking-search/sass/property-search-style.sass */
    .checkout-calendar-picker .picker-year ul li.month ul li.days-shift-6 {
      display: block;
      width: 85.71429%;
      text-align: center;
      float: left;
      font-size: 13px;
      height: 26px;
      padding-top: 2px;
      box-sizing: border-box;
      color: #4B96FD; }
    /* line 199, C:/work/www/booking-search/sass/property-search-style.sass */
    .checkout-calendar-picker .picker-year ul li.month ul li.days-shift-7 {
      display: block;
      width: 100%;
      text-align: center;
      float: left;
      font-size: 13px;
      height: 26px;
      padding-top: 2px;
      box-sizing: border-box;
      color: #4B96FD; }
    /* line 202, C:/work/www/booking-search/sass/property-search-style.sass */
    .checkout-calendar-picker .picker-year ul li.month ul li.single-date {
      display: block;
      width: 14.28571%;
      text-align: center;
      float: left;
      font-size: 13px;
      height: 26px;
      padding-top: 2px;
      box-sizing: border-box;
      color: #4B96FD; }
      /* line 212, C:/work/www/booking-search/sass/property-search-style.sass */
      .checkout-calendar-picker .picker-year ul li.month ul li.single-date input[type="checkbox"] {
        display: none; }
      /* line 214, C:/work/www/booking-search/sass/property-search-style.sass */
      .checkout-calendar-picker .picker-year ul li.month ul li.single-date input[type="checkbox"]:hover + label {
        color: white !important;
        background-color: #1F3580 !important; }
      /* line 217, C:/work/www/booking-search/sass/property-search-style.sass */
      .checkout-calendar-picker .picker-year ul li.month ul li.single-date.range {
        background-color: #EFEFEF; }
      /* line 219, C:/work/www/booking-search/sass/property-search-style.sass */
      .checkout-calendar-picker .picker-year ul li.month ul li.single-date.chosen-one {
        color: white !important;
        background-color: #1F3580; }
      /* line 222, C:/work/www/booking-search/sass/property-search-style.sass */
      .checkout-calendar-picker .picker-year ul li.month ul li.single-date.simple-date {
        color: #4B96FD; }
      /* line 224, C:/work/www/booking-search/sass/property-search-style.sass */
      .checkout-calendar-picker .picker-year ul li.month ul li.single-date.disabled {
        color: #aaa !important;
        text-decoration: line-through; }
      /* line 227, C:/work/www/booking-search/sass/property-search-style.sass */
      .checkout-calendar-picker .picker-year ul li.month ul li.single-date.day-of-week-Su, .checkout-calendar-picker .picker-year ul li.month ul li.single-date.day-of-week-Sa {
        color: #1F3580; }

/*# sourceMappingURL=property-search-style.css.map */
