$field-height : 51px
$field-padding : 10px
$field-border-size : 1px
$spacer : 10px
$field-font-big-size : 16px
$field-font-mid-size : 14px
$field-font-small-size : 12px
$form-width : 749px
$search-button-size : 82px
$search-button-color : #E05E00
$border-width : 1px


=field-decoration
  box-shadow: inset 1px 2px 6.5px rgba(0,0,0,0.2)
  -moz-box-shadow: inset 1px 2px 6.5px rgba(0,0,0,0.2)
  -o-box-shadow: inset 1px 2px 6.5px rgba(0,0,0,0.2)
  -ms-box-shadow: inset 1px 2px 6.5px rgba(0,0,0,0.2)
  -webkit-box-shadow: inset 1px 2px 6.5px rgba(0,0,0,0.2)
  border: $border-width solid black
  height: 51px
  padding: 10px
  box-sizing: border-box
  -webkit-box-sizing: border-box
  background-color: white
  font-family: 'Open Sans'

body
  margin: 0
  padding: 0
  min-height: 1000px

.banner-simulator
  width: 100%
  height: 560px
  background-color: #acc949
  margin-bottom: -65px


.search-wrapper
  font-family: 'Open Sans'
  width: $form-width
  margin: 0 auto
  .form-background
    background-color: rgba(59, 61, 63, 0.95)
    border: $border-width solid black
    padding: $spacer
    .i-dont-know-chekbox
      width: 100%
      display: inline-block
      color: white
      margin-top: $spacer
      font-size: $field-font-small-size
      input[type="checkbox"]
        float: left
        margin-right: $spacer / 2
    .options-wrapper
      width: 100%
      position: relative
      .inline-field
        cursor: pointer
        font-size: $field-font-mid-size
      .search-button
        button
          background-color: $search-button-color
          border: $border-width solid black
          width: $search-button-size
          box-sizing: border-box
          height: $field-height
          font-weight: 600;
          color: white
          font-family: 'Open Sans'
          font-size: $field-font-mid-size
    .inline-field
      width: ($form-width - ($spacer * 5) - $search-button-size - ($border-width * 2)) / 3
      display: table-cell
      vertical-align: middle
      float: left
      margin-right: $spacer
      +field-decoration
      &.date-picker
        position: relative
        &:after
          content: "\f073"
          font-family: FontAwesome
          font-weight: normal
          font-style: normal
          display: inline-block
          position: absolute
          right: 14px
          top: 17px
          opacity: 1
          font-size: 16px
        .chosen-date
          display: none
        .title
          margin-top: 5px
          display: block
        &.chosen
          .chosen-date, .title
            display: block
            width: 100%
            margin: 0
            font-size: $field-font-small-size
          .title
            margin: -2px 0
            opacity: 0.5
          .chosen-date
            font-weight: 600

    .location-wrapper
      margin-bottom: $spacer
      input.location-field
        width: 100%
        font-size: $field-font-big-size
        +field-decoration


=days-shift($shift-value)
  display: block
  width: percentage(1/7) * $shift-value
  text-align: center
  float: left
  font-size: 13px
  height: 26px
  padding-top: 2px
  box-sizing: border-box
  color: #4B96FD

$calendar-width : 519px
$calendar-border-size : 1px
$col-size : $calendar-width / 2 - $calendar-border-size

=border-radius($radius)
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  -o-border-radius: $radius
  -webkit-border-radius: $radius
  border-radius: $radius

=drop-shadow
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)

.checkout-calendar-picker
  &.hide
    width: 0
    height: 0
    opacity: 0
  display: block
  position: absolute
  &.check-in
    left: 0
  &.check-out
    left: 216px
  top: 51px
  width: $calendar-width
  // background-color: red
  box-sizing: border-box
  border: $calendar-border-size solid #d9d9d9
  height: 282px
  font-family: 'Open Sans'
  overflow: hidden
  +border-radius(4px)
  +drop-shadow
  z-index: 4
  .calendar-control
    position: absolute
    z-index: 5
    color: #0896FF
    cursor: pointer
    &.close
      right: 20px
      top: 12px
      color: #D7D7D7
      text-shadow: 1px 1px 0 white, -1px -1px 0 rgb(186, 186, 186)
    &.move-left
      left: 10px
      top: 56px
    &.move-right
      right: 10px
      top: 56px
    &.disabled
      color: #D7D7D7
  .picker-year
    > ul
      position: relative
      .col-wrapper
        left: 0
  .header-title h1
    height: 45px
    font-size: 15px
    background-color: #f2f3f4
    text-align: center
    padding: 12px 14px
    margin: 0 0 7px 0
    box-sizing: border-box
    font-weight: bold
  ul
    list-style: none
    padding: 0
    margin: 0
  .picker-year
    ul
      li.month
        display: block
        background-color: white
        float: left
        width: $col-size
        box-sizing: border-box
        padding: 0 5px 5px
        .header
          margin: 0
          padding: 0
          text-align: center
          h1
            margin: 0
            font-size: 15px
            color: #737373
            padding: 6px 4px 12px
        ul
          li.week-days
            display: block
            width: 100%
            ul
              li
                display: block
                width: percentage(1/7)
                float: left
                text-align: center
                font-size: 13px
                color: #aaa
                font-weight: 600
                height: 26px
          li
            &.days-shift-1
              +days-shift(1)
            &.days-shift-2
              +days-shift(2)
            &.days-shift-3
              +days-shift(3)
            &.days-shift-4
              +days-shift(4)
            &.days-shift-5
              +days-shift(5)
            &.days-shift-6
              +days-shift(6)
            &.days-shift-7
              +days-shift(7)

          li.single-date
            display: block
            width: percentage(1/7)
            text-align: center
            float: left
            font-size: 13px
            height: 26px
            padding-top: 2px
            box-sizing: border-box
            color: #4B96FD
            input[type="checkbox"]
              display: none
            input[type="checkbox"]:hover + label
              color: white !important
              background-color: #1F3580 !important
            &.range
              background-color: #EFEFEF
            &.chosen-one
              color: white !important
              background-color: #1F3580
              +border-radius(4px)
            &.simple-date
              color: #4B96FD
            &.disabled
              color: #aaa !important
              text-decoration: line-through
              &:hover
                background-color: red !important
            &.day-of-week-Su, &.day-of-week-Sa
              color: #1F3580
            &:hover
              background-color: #e09200
              color: white !important
              +border-radius(4px)








